<template>
    <ToDo />
</template>

<script>
// @ is an alias to /src
import ToDo from '@/components/ToDo.vue';

export default {
    name: 'HomeVue ',
    components: {
        ToDo,
    },
};
</script>
