<template>
    <v-checkbox
        style="margin-top: 0px"
        background-color="white"
        color="black"
        model="checkbox"
        v-bind:label="taskName"
        hide-details="true"
        v-bind:input-value="done"
        value
        @click="taskDone"
        v-bind:class="className"
    ></v-checkbox>
</template>

<script>
export default {
    name: 'TaskItem',
    props: {
        taskName: String,
        taskId: Number,
        removeTask: Function,
    },
    data() {
        return {
            done: false,
            className: '',
        };
    },
    methods: {
        taskDone(e) {
            console.log(this.taskId);

            console.log(e.target);
            e.target.setAttribute('class', 'task-done');
            this.className = 'task-done';

            setTimeout(() => {
                this.done = true;
                this.removeTask(this.taskId);
                //this.removeTask(this.taskId);
            }, 1000);

            setTimeout(() => {}, 1000);
        },
    },
};
</script>

<style scoped lang="scss">
.task-done::v-deep {
    .v-label {
        text-decoration: line-through;
    }
}
</style>
