<template>
    <v-container class="fill-height" style="background-color: #fcfafc">
        <v-row align="center" justify="center" class="fill-height">
            <v-col
                cols="10"
                sm="3"
                elevation="2"
                style="background-color: #ffffff"
            >
                <v-container>
                    <v-row class="left">Checklist</v-row>
                    <v-row class="left">
                        <v-btn
                            small
                            rounded
                            elevation="0"
                            style="
                                background-color: rgba(169, 172, 175, 255);
                                color: rgba(212, 217, 221, 255);
                            "
                        >
                            Pending
                        </v-btn>
                        <v-btn
                            small
                            rounded
                            elevation="0"
                            style="
                                color: rgba(212, 217, 221, 255);
                                background-color: #ffffff;
                            "
                        >
                            Completed
                        </v-btn>
                    </v-row>
                    <v-row
                        class="d-flex flex-column"
                        style="margin-top: 16px; margin-bottom: 2rem"
                    >
                        <div style="margin-top: 0.5rem">
                            <TransitionGroup name="task-list">
                                <div
                                    v-for="task in tasks"
                                    v-bind:key="task.id"
                                    class="task-list-item"
                                >
                                    <TaskItem
                                        v-bind:taskName="task.name"
                                        v-bind:taskId="task.id"
                                        v-bind:removeTask="removeTask"
                                    />
                                </div>
                            </TransitionGroup>
                        </div>
                    </v-row>

                    <v-row
                        align="center"
                        class="d-flex flex-row justify-center"
                    >
                        <Transition name="add-task">
                            <v-text-field
                                v-if="show"
                                dense
                                v-bind:value="taskName"
                                id="task-input"
                                style="caret-color: transparent"
                                label="Add an item here"
                                solo
                                flat
                                type="text"
                                hide-details="true"
                                @input="handleInput"
                            >
                            </v-text-field>
                        </Transition>
                        <v-btn
                            rounded
                            small
                            class="blue darken-1 white--text"
                            @click="addTask"
                            >Add Item</v-btn
                        >
                    </v-row>
                </v-container>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
import TaskItem from '@/components/TaskItem.vue';

export default {
    name: 'ToDo',
    components: {
        TaskItem,
    },
    data() {
        return {
            tasks: [
                { id: 0, name: 'Gummies dragée pie' },
                { id: 1, name: 'Danish cheesecake topping' },
            ],
            taskName: '',
            show: true,
        };
    },
    methods: {
        handleInput(taskName) {
            this.taskName = taskName;
        },
        addTask() {
            this.show = !this.show;
            console.log(this.taskName);
            const taskInputElement = document.getElementById('task-input');
            const taskName = taskInputElement.value;
            const lastId =
                this.tasks.length > 0
                    ? this.tasks[this.tasks.length - 1].id
                    : -1;

            console.log(lastId);

            var that = this;

            setTimeout(() => {
                that.tasks.push({
                    id: lastId + 1,
                    name: taskName,
                });
                this.taskName = '';
                this.show = true;
            }, 1000);
        },
        removeTask(id) {
            const newTaskArr = this.tasks.filter((currTaskObj) => {
                return currTaskObj.id !== id;
            });

            this.tasks = newTaskArr;
        },
    },
};
</script>

<style scoped lang="scss">
.v-input {
    ::v-deep #task-input {
        caret-color: transparent;
    }
}

.v-btn {
    text-transform: capitalize;
}

.add-task-leave-active {
    transition: all 1s;
}

.add-task-leave-to {
    transform: translateY(-35px) translateX(20px);
}

.task-list-item {
    transition: all 1s;
}

.task-list-leave-active {
    position: absolute;
}

.task-list-leave-to {
    opacity: 0;
}
</style>
